@define-mixin foot-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@define-mixin line-height $el {
  @if $el == 'heading' {
    line-height: 1.2;
  } @else if $el == 'body' {
    line-height: 1.7;
  } @else {

  }
}

@define-mixin letter-spacing {
  letter-spacing: 0.5px;
}
