a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $link-hover-color;
    text-decoration: underline;
  }
}

[type="checkbox"], [type="radio"] {
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.drawer-toggle:before {
  position: relative;
  top: 0.4375rem;
  font-family: sans-serif;
  font-size: 2.5rem;
  line-height: 0.125;
  content: '\2261';
}

.drawer {
  display: block;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  width: 320px;
  height: 100vh;
  overflow-y: auto;
  background: #eceff1;
  border: 0.0625rem solid #c9c9c9;
  margin: 0;
  z-index: 1110;

  &:not(.right) {
    left: -320px;
    transition: left 0.3s;
  }

  &.right {
    right: -320px;
    transition: right 0.3s;
  }

  & .close {
    position: absolute;
    top: 0.75rem;
    right: 0.25rem;
    z-index: 1111;
    padding: 0;
  }
}

@media screen and (max-width: 320px) {
  .drawer {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .drawer:not(.persistent) {
    position: static;
    height: 100%;
    z-index: 1100;
  }
  .drawer:not(.persistent) .close {
    display: none;
  }
  .drawer-toggle:not(.persistent) {
    display: none;
  }
}

:checked + .drawer:not(.right) {
  left: 0;
}

:checked + .drawer.right {
  right: 0;
}

.close {
  display: inline-block;
  width: 1.5rem;
  font-family: sans-serif;
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 700;
  border-radius: 2rem;
  background: rgba(230, 230, 230, 0);
  vertical-align: top;
  cursor: pointer;
  transition: background 0.3s;

  &:hover, &:focus {
    background: #e6e6e6;
  }

  &:before {
    content: "\00D7";
    display: block;
    text-align: center;
    size: 40px;
    font-size: 2rem;
  }
}

.drawer .close {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  z-index: 1111;
  padding: 0;
}


