$font-familiy: '-apple-system, BlinkMacSystemFont,"Segoe UI","Roboto", "Droid Sans","Helvetica Neue", Helvetica, Arial, sans-serif';

$link-color: #333333;
$link-hover-color: #f36c3d;

$body-color: #343436;
$head-color: #152935;
$caption-color: #f1f1f1;
$color-1: #333;
